<form class="d-flex flex-row my-1 mail-list-toolbar">
  <div class="flex-shrink-1 mx-1"><button type="button" class="btn btn-outline-secondary mail-list-toolbar-button"><i class="fa fa-trash"></i></button></div>
  <div class="flex-fill mx-1">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{ 'mailbox.searchPlaceholder' | translate }}" aria-label="Search">
      <button class="btn btn-outline-secondary mail-list-toolbar-button"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="flex-shrink-1 ms-1"><button type="button" class="btn btn-outline-secondary mail-list-toolbar-button"><i class="fa fa-angle-down"></i></button></div>
</form>
